.schedule {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.schedule__content {
  margin: 0;
  padding: 40px 30px 30px 60px;
  width: 100%;
}

.schedule__header {
  margin: 0;
  display: flex;
}

.schedule__tab {
  margin: 50px 0 0 0;
  width: 100%;
}

.schedule__tab-header {
  margin: 0;
  display: grid;
  grid-template-columns: 90px 90px repeat(30, 25px);
  gap: 1px;
}
