.main__content {
  margin: 0;
  padding: 40px 50px 30px 50px;
  width: 100%;
  min-height: min-content;
  display: flex;
  flex-direction: column;
}

.main__link {
  text-decoration: none;
}

.main__card-profile {
  margin: 0 auto 30px 0;
}

.main__widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1000px;
}

.main__widgets-list {
  margin: 0;
  padding: 0;
}

.main__widgets-content {
  margin: 0 0 8px;
  font-size: 16px;
  list-style: none;
}

.main__widgets-link {
  text-decoration: none;
}

.main__widgets-link_size_big {
  grid-column: span 2;
}

.main__schedule {
  display: flex;
}

.main__schedule-item {
  margin: 0 5px 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 241, 248);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(200, 202, 205);
  transition: transform .4s;
}

.main__schedule-item:hover {
  transform: translateY(-5px);
}
