.empl-spot__indicator {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: rgba(177, 211, 227, .9);
  border: none;
  border-radius: 50%;
}

.empl-spot__indicator_theme_red {
  background-color: rgba(218, 183, 184, .9);
}

.empl-spot__indicator_theme_green {
  background-color: #8FC1A9;
}

.empl-spot__indicator_size_small {
  margin: auto;
  width: 10px;
  height: 10px;
}

.empl-spot__indicator_size_big {
  margin: auto 10px 5px;
  width: 20px;
  height: 20px;
}
